body{
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,.8);
    font-weight: 500;
    background-color: #F6F7FB;
}

main{
    margin-top: 8%;
    padding: 0 8%;
}


#Topbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
}

#Topbar>div{
    display: flex;
}

#Logo{
    display: flex;
    margin-right: 50px;
    align-items: center;
    padding: 15px 0;
}

#Logo img{
    width: 24px;
    height: 28px;
    margin-right: 8px;
}

#Logo a{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0;
    color: rgba(0,0,0,.8);
}

nav{
    display: flex;
    justify-content: space-between;
}

p{
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 500;
        margin: 0;
        color: rgba(0, 0, 0, 0.8);    
}
.MenuItems {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin: 0 10px;
}

.Active.MenuItems {
    color: #20B883;
    border-bottom: 3px solid #20B883;
}
#Loginform{
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px #ccc;
    display: none;
}

#Loginform h1{
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 0 24px;
}

input[type="text"],input[type="password"]{
    width: 100%;
    padding-top: 16px;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #8c8c8c;
    margin-bottom: 25px;
    outline: none;
}

#Loginbtn{
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

#Logout{
    visibility: hidden;
}