
main{
    margin-top: 8%;
    padding: 0 8%;
}

#Logoutbtn{
    cursor: pointer;
    padding: 20px;
}

input[type="checkbox"]{
    margin: 10px 5px;
    cursor: pointer;
}

#OrdersContainer{
    display: flex;
    width: 100%;
}

#OrderTableSection{
    width: 80%;
    margin-left: 50px;
}

table{
    box-sizing: border-box;
    border-collapse: collapse;
    text-indent: initial;
    border: 2px solid #F6F7FB;
}
td,th{
    padding: 15px 40px;
    width: 20%;
    font-size: 14px;
    text-align: left;
}

tbody tr{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
}